# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs and editors
.idea/
.vscode/
*.swp
*.bak
*.swo
.DS_Store

# Virtual environment
venv/
env/
.env

# Logs and databases
*.log
*.sqlite
*.db

# Miscellaneous
.coverage
/htmlcov/
.Python
build/
dist/
